<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="flex container px-5">
        <a class="navbar-brand" href="#">Dating App</a>
        <div class="container d-flex flex-row justify-between ">
            <div class="flex"> 
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="loggedIn" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="loggedIn" href="#">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="loggedIn" href="#">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" *ngIf="loggedIn" href="#" (click)="loggedOut()">Logout</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group" *ngIf="loggedIn" dropdown>
                <a class="btn btn-primary dropdown-toggle" dropdownToggle > Welcome {{model.username}}</a>

                <ul  *dropdownMenu class="dropdown-menu"
                    role="menu">
                  <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Edit</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#" (click)="loggedOut()">Logout</a></li>
                </ul>
              </div>

            </div>
            <div class="flex flex-row items-center justify-center" *ngIf="!loggedIn">
                <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
                    <input 
                        name="username"
                        [(ngModel)]="model.username"
                        class="form-control me-2 h-10 " 
                        type="search" 
                        placeholder="Username">
                    <input 
                        name="password"
                        [(ngModel)]="model.password"
                        class="form-control me-2 h-10 " 
                        type="password" 
                        placeholder="Password">
                    <button class="btn btn-outline-success" type="submit">Login</button>
                </form>
            
            </div>      
        </div>    
  </nav>